
<div class="parent">
  <div class="container">
      <div class="login-box">
          <h2>Register</h2>
          <form action="#">
              <div class="input-box">
                <input type="name" [(ngModel)]="registerObj.name" name="name" required>
                <label>name</label>
              </div>
              <div class="input-box">
                  <input type="email" [(ngModel)]="registerObj.email" name="email" required>
                  <label>Email</label>
              </div>
              <div class="input-box">
                  <input type="password" [(ngModel)]="registerObj.password" name="password" required>
                  <label>Password</label>
              </div>

              <button type="button" class="btn" (click)="onRegister()" >Register</button>

          </form>

          <div class="signup-link">
            <a routerLink="/login" class="create-account-link">Login</a>
          </div>
      </div>

  </div>
</div>
