.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f293a;
  padding: 10px 20px;
  color: #fff;
}

.site-name {
  font-size: 1.2em;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-button {
  background: #0ef;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #1f293a;
  padding: 8px 16px;
  margin-left: 10px;
}

.logout-button:hover {
  background: #0cf; 
}
